body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
.container{
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.password-display{
    font-size: 1.5em;
    margin: 20px 0;
}
button{
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    background-color: rgb(23, 41, 4);
    color: #fff;
    border-radius: 5px;
}
button:hover{
    background-color: rgb(48, 85, 9);
}